body{
    font-family: 'poppins',sans-serif;
    margin: 0;/*margin et padding ==0 : enlève mes marges par défaut */
    padding: 0;
   /* background: color #f9f9f9;*/
    color: #333; 
    
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 30%;
    background:url('../images/Fond7.JPG') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.banner h1{
    text-align: center;
    margin-top: 40px;
}

.navbar {
   
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-decoration: none;
    
}

.navbar .logo:hover {
    transform: scale(1.05);
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .menu li {
    display: inline;
}

.navbar .menu a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.navbar .menu a:hover {
    color: var(--white);
    border-color: var(--gold);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgb(0, 0, 0)
}

main{
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
/* 1.display flex : pour alligner les elemnts d'un conteneur pour que les blocs se placent cote a cote 
   2. flex wrap:wrap (pour passer a la ligne suivante si tout les elements n'entrent pas  sur la meme ligne) */
   


p,h1{
    color: #020c18;
}
/*formulaire connexion ,inscription,admin*/
form{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    max-width: 400px;
    margin: 20px auto;
    background-image: url(../images/Fond7.JPG);
    background-position: center;
    
}
form label{
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
}
form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #265ea1;
}
form button{
    background-color: #131012;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
form button:hover{
    background-color: #2c2f33;
}

footer{
    background-color: #25242467;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

 /*pour modifier l'affichage (pour le cataogue) sur le téléphone ou sur un autre appareil : */
@media(max-width:768px){
    .catalogue{
        flex-direction: column;
        align-items: center;
        .logo-video{
            width: 70px;
        }
    }
    .fond-du-header{
        display:flex ;
        height: 180px;
    }
    .header{

        padding: 15px;
        text-align: center;
        padding-top: 5px;
        background-size:1400px;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
}    
}
.produit{
    border-radius: 20px;
    border-top: 200px;  
}
.panier{
    display: flex;
}