
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background:url('../images/Fond7.JPG') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    
}
.navbar {
   
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 20px var(--shadow); */
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}
.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    /* transition: all 0.3s ease; */
    text-decoration: none;
    
}
/* Pour l'alignement des liens: */
.navbar .menu {
    list-style: none;
    display: flex;
    gap: 25px;
}
.navbar .menu li {
    display: inline;
}
.navbar .menu a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 25px;
    /* transition: all 0.3s ease; */
    position: relative;
    /* overflow: hidden; */
}
.navbar .menu a:hover {
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
     z-index: 10;
    /* pour que les textes de ma page Apropos scrollent */
    overflow:auto ; 
    padding: 10px;
    
}
body {
  background-color: #f7f7f7;
  color: #333;  
}

p,h1{
    color: #020c18;
}
#panier {
  padding: 50px;
  
  
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.product {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
button {
  padding: 5px 10px;
  background-color: chocolate;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
button:hover {
  background-color: darkorange;
}
#panier-list > div {
    margin-bottom: 15px;
    
}
#panier h1 {
    margin-bottom: 25px;
}
footer{
  background-color: #25242467;
  text-align: center;
  padding: 7px;
  /* color: #333; */
  backdrop-filter: blur(7px);
}
/* Affiche le menu burge sur téléphone */
.affiche {
    display: none;  /* Par défaut, le menu burger est caché */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    cursor: pointer;
}
 /*pour modifier l'affichage (pour le cataogue) sur le téléphone ou sur un autre appareil : */
@media(max-width:900px){
    
    .affiche{
        display: block;  /* Affiche le menu burger */
    } 
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .navbar .menu{
        display: none;  /*cache le menu horizontal */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        flex-direction: column;
        width: 220px;
        height: 120vh;
        padding-top:60px;
        z-index: 2000;
        overflow-y: auto;  /* pour scroler le menu burger s'il est trop long */
    }
        .navbar .menu.open{
        display: flex !important;  /* Affiche le menu vertical quand il est ouvert */
    }
    /* Le logo devient plus petit pour s'adapter à l'écran */
    .navbar .logo {
        font-size: 22px;
    }

  }